[submodule "libraries/3rdparty/pkcs11"]
	path = libraries/3rdparty/pkcs11
	url = https://github.com/amazon-freertos/pkcs11.git
	branch = v2.40_errata01
[submodule "libraries/3rdparty/CMock"]
	path = libraries/3rdparty/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "libraries/coreMQTT"]
	path = libraries/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
[submodule "libraries/coreJSON"]
	path = libraries/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "libraries/abstractions/pkcs11/corePKCS11"]
	path = libraries/abstractions/pkcs11/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
[submodule "libraries/coreHTTP"]
	path = libraries/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
[submodule "libraries/coreMQTT-Agent"]
	path = libraries/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
[submodule "tests/FreeRTOS-Libraries-Integration-Tests"]
	path = tests/FreeRTOS-Libraries-Integration-Tests
	url = https://github.com/FreeRTOS/FreeRTOS-Libraries-Integration-Tests.git
[submodule "libraries/3rdparty/Unity"]
	path = libraries/3rdparty/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "libraries/abstractions/backoffAlgorithm"]
	path = libraries/abstractions/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
[submodule "libraries/abstractions/freertos-ota-pal-psa"]
	path = libraries/abstractions/freertos-ota-pal-psa
	url = https://github.com/Linaro/freertos-ota-pal-psa.git
[submodule "libraries/abstractions/pkcs11/freertos-pkcs11-psa"]
	path = libraries/abstractions/pkcs11/freertos-pkcs11-psa
	url = https://github.com/Linaro/freertos-pkcs11-psa.git
[submodule "libraries/Device-Defender-for-AWS-IoT-embedded-sdk"]
	path = libraries/Device-Defender-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Device-Defender-for-AWS-IoT-embedded-sdk.git
[submodule "libraries/Device-Shadow-for-AWS-IoT-embedded-sdk"]
	path = libraries/Device-Shadow-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Device-Shadow-for-AWS-IoT-embedded-sdk.git
[submodule "libraries/Jobs-for-AWS-IoT-embedded-sdk"]
	path = libraries/Jobs-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Jobs-for-AWS-IoT-embedded-sdk.git
[submodule "libraries/ota-for-aws-iot-embedded-sdk"]
	path = libraries/ota-for-aws-iot-embedded-sdk
	url = https://github.com/aws/ota-for-aws-iot-embedded-sdk.git
